.container {
    width: 25px;
    height: 25px;

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    cursor: pointer;
}

.container:hover {
    border: 2px solid PINK;
}

.checkIcon{
    position: absolute;
    font-size: 30px;
    color: BLACK;
}